@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

html,
body {
  overflow: hidden;
  margin: 0;
}

body {
  font-family: 'Fira Code', monospace;
  background-color: #24262e;
  color: white;
  animation: fade-in 500ms;
}

@keyframes falling-star {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(800px);
  }
}

#stars {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
}
